.landing {
  background-color:#f2f2f2;
  padding:20px;
  position:relative;
  margin:10% auto auto auto;
  display:table;
}

#opening {
  font-family: 'Proza Libre', sans-serif;
  padding:0% 0% 0% 0%;
  display:none;
}

#message {
  font-family: 'Cormorant Garamond', serif;
  display:none;
}
body {
  background-image:url("background.JPG");
  background-position:top;
  background-repeat:no-repeat; 
  background-color:#262626;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5{
    font-size: 1.4em;
}  

